In [9]:
# ! pip install catboost -q
# ! pip install hyperopt -q
# ! pip install ipywidgets -q
# ! jupyter labextension install @jupyter-widgets/jupyterlab-manager
# ! jupyter nbextension enable --py widgetsnbextension

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK

In [1]:
import catboost as cb
from fastai.tabular import *
import hyperopt
from sklearn.metrics import log_loss
from sklearn.model_selection import train_test_split

In [2]:
path = untar_data(URLs.ADULT_SAMPLE)
print(path)
df = pd.read_csv(path/'adult.csv')
df['y'] = (df['salary'] == '>=50k').astype(int)
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cont_names = ['age', 'fnlwgt', 'education-num']
target = 'y'

df_train, df_test = train_test_split(df.copy(), random_state=42)
print(len(df_train), len(df_test))
df_train.head()

/home/jupyter/.fastai/data/adult_sample
24420 8141

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,y
29,42,Private,70055,11th,7.0,Married-civ-spouse,NaN,Husband,White,Male,0,0,45,United-States,<50k,0
12181,25,Private,253267,Some-college,10.0,Married-civ-spouse,Adm-clerical,Husband,Black,Male,0,1902,36,United-States,>=50k,1
18114,53,Self-emp-not-inc,145419,1st-4th,2.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,67,Italy,>=50k,1
4278,37,State-gov,354929,Assoc-acdm,12.0,Divorced,Protective-serv,Not-in-family,Black,Male,0,0,38,United-States,<50k,0
12050,25,Private,404616,Masters,14.0,Married-civ-spouse,Farming-fishing,Not-in-family,White,Male,0,0,99,United-States,>=50k,1

In [10]:
procs = [FillMissing, Categorify, Normalize]
test = TabularList.from_df(df_test, path=path, cat_names=cat_names, cont_names=cont_names)
data = (TabularList.from_df(df_train, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
        .split_by_rand_pct(0.2)
        .label_from_df(cols=target)
        .add_test(test)
        .databunch())
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)
display(learn.summary)
learn.fit_one_cycle(4, 1e-1)
learn.fit_one_cycle(4, 1e-3)
# learn.lr_find()
# learn.recorder.plot()
y_pred, _ = learn.get_preds(DatasetType.Test)
df_test['fa_pred'] = y_pred[:, 1]
print(log_loss(df_test['y'], df_test['fa_pred']))

<bound method model_summary of Learner(data=TabularDataBunch;

Train: LabelList (19536 items)
x: TabularList
workclass  Private; education  11th; marital-status  Married-civ-spouse; occupation #na#; relationship  Husband; race  White; education-num_na False; age 0.2541; fnlwgt -1.1531; education-num -1.1855; ,workclass  Private; education  Some-college; marital-status  Married-civ-spouse; occupation  Adm-clerical; relationship  Husband; race  Black; education-num_na False; age -0.9872; fnlwgt 0.6109; education-num -0.0188; ,workclass  Self-emp-not-inc; education  1st-4th; marital-status  Married-civ-spouse; occupation  Exec-managerial; relationship  Husband; race  White; education-num_na False; age 1.0573; fnlwgt -0.4275; education-num -3.1301; ,workclass  State-gov; education  Assoc-acdm; marital-status  Divorced; occupation  Protective-serv; relationship  Not-in-family; race  Black; education-num_na False; age -0.1110; fnlwgt 1.5898; education-num 0.7591; ,workclass  Private; education  Masters; marital-status  Married-civ-spouse; occupation  Farming-fishing; relationship  Not-in-family; race  White; education-num_na False; age -0.9872; fnlwgt 2.0682; education-num 1.5369;
y: CategoryList
0,1,1,0,1
Path: /home/jupyter/.fastai/data/adult_sample;

Valid: LabelList (4884 items)
x: TabularList
workclass  Private; education  HS-grad; marital-status  Married-civ-spouse; occupation  Priv-house-serv; relationship  Wife; race  White; education-num_na False; age -1.2062; fnlwgt 0.0991; education-num -0.4077; ,workclass  Private; education  Assoc-acdm; marital-status  Never-married; occupation  Adm-clerical; relationship  Not-in-family; race  White; education-num_na False; age -0.1110; fnlwgt 1.2921; education-num 0.7591; ,workclass  Private; education  HS-grad; marital-status  Never-married; occupation  Other-service; relationship  Own-child; race  White; education-num_na False; age -1.0602; fnlwgt 0.7770; education-num -0.4077; ,workclass  Private; education  11th; marital-status  Widowed; occupation  Other-service; relationship  Unmarried; race  White; education-num_na False; age 0.1811; fnlwgt 1.4840; education-num -1.1855; ,workclass  Private; education  HS-grad; marital-status  Divorced; occupation  Machine-op-inspct; relationship  Not-in-family; race  Black; education-num_na False; age 0.7652; fnlwgt -0.3988; education-num -0.4077;
y: CategoryList
0,0,0,0,0
Path: /home/jupyter/.fastai/data/adult_sample;

Test: LabelList (8141 items)
x: TabularList
workclass  Private; education  HS-grad; marital-status  Never-married; occupation  Other-service; relationship  Unmarried; race  White; education-num_na False; age -0.6221; fnlwgt -1.0450; education-num -0.4077; ,workclass  Federal-gov; education  Some-college; marital-status  Divorced; occupation  Adm-clerical; relationship  Not-in-family; race  White; education-num_na False; age -0.0380; fnlwgt -0.1661; education-num -0.0188; ,workclass  Private; education  HS-grad; marital-status  Married-civ-spouse; occupation  Adm-clerical; relationship  Husband; race  White; education-num_na False; age 0.1081; fnlwgt 0.3248; education-num -0.4077; ,workclass  Local-gov; education  Masters; marital-status  Married-civ-spouse; occupation  Prof-specialty; relationship  Wife; race  White; education-num_na False; age -0.7681; fnlwgt 0.0131; education-num 1.5369; ,workclass  Private; education  HS-grad; marital-status  Married-civ-spouse; occupation  Transport-moving; relationship  Husband; race  White; education-num_na False; age -0.5491; fnlwgt 0.1997; education-num -0.4077;
y: EmptyLabelList
,,,,
Path: /home/jupyter/.fastai/data/adult_sample, model=TabularModel(
  (embeds): ModuleList(
    (0): Embedding(10, 6)
    (1): Embedding(17, 8)
    (2): Embedding(8, 5)
    (3): Embedding(16, 8)
    (4): Embedding(7, 5)
    (5): Embedding(6, 4)
    (6): Embedding(3, 3)
  )
  (emb_drop): Dropout(p=0.0, inplace=False)
  (bn_cont): BatchNorm1d(3, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (layers): Sequential(
    (0): Linear(in_features=42, out_features=200, bias=True)
    (1): ReLU(inplace=True)
    (2): BatchNorm1d(200, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (3): Linear(in_features=200, out_features=100, bias=True)
    (4): ReLU(inplace=True)
    (5): BatchNorm1d(100, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (6): Linear(in_features=100, out_features=2, bias=True)
  )
), opt_func=functools.partial(<class 'torch.optim.adam.Adam'>, betas=(0.9, 0.99)), loss_func=FlattenedLoss of CrossEntropyLoss(), metrics=[<function accuracy at 0x7fdc32c1d0e0>], true_wd=True, bn_wd=True, wd=0.01, train_bn=True, path=PosixPath('/home/jupyter/.fastai/data/adult_sample'), model_dir='models', callback_fns=[functools.partial(<class 'fastai.basic_train.Recorder'>, add_time=True, silent=False)], callbacks=[], layer_groups=[Sequential(
  (0): Embedding(10, 6)
  (1): Embedding(17, 8)
  (2): Embedding(8, 5)
  (3): Embedding(16, 8)
  (4): Embedding(7, 5)
  (5): Embedding(6, 4)
  (6): Embedding(3, 3)
  (7): Dropout(p=0.0, inplace=False)
  (8): BatchNorm1d(3, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (9): Linear(in_features=42, out_features=200, bias=True)
  (10): ReLU(inplace=True)
  (11): BatchNorm1d(200, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (12): Linear(in_features=200, out_features=100, bias=True)
  (13): ReLU(inplace=True)
  (14): BatchNorm1d(100, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (15): Linear(in_features=100, out_features=2, bias=True)
)], add_time=True, silent=False)>

0.35182265150670533

In [11]:
?? tabular_learner

Signature:
 tabular_learner(
    data: fastai.basic_data.DataBunch,
    layers: Collection[int],
    emb_szs: Dict[str, int] = None,
    metrics=None,
    ps: Collection[float] = None,
    emb_drop: float = 0.0,
    y_range: Union[Tuple[float, float], NoneType] = None,
    use_bn: bool = True,
    **learn_kwargs,
)
Source:
def tabular_learner(data:DataBunch, layers:Collection[int], emb_szs:Dict[str,int]=None, metrics=None,
        ps:Collection[float]=None, emb_drop:float=0., y_range:OptRange=None, use_bn:bool=True, **learn_kwargs):
    "Get a `Learner` using `data`, with `metrics`, including a `TabularModel` created using the remaining params."
    emb_szs = data.get_emb_szs(ifnone(emb_szs, {}))
    model = TabularModel(emb_szs, len(data.cont_names), out_sz=data.c, layers=layers, ps=ps, emb_drop=emb_drop,
                         y_range=y_range, use_bn=use_bn)
    return Learner(data, model, metrics=metrics, **learn_kwargs)
File:      /opt/conda/lib/python3.7/site-packages/fastai/tabular/learner.py
Type:      function

In [5]:
class UciAdultClassifierObjective(object):
    def __init__(self, dataset, const_params, fold_count):
        self._dataset = dataset
        self._const_params = const_params.copy()
        self._fold_count = fold_count
    
    def __call__(self, params):
        print(params)
        params.update(self._const_params)
        sys.stdout.flush()
        scores = cb.cv(self._dataset, params, fold_count=self._fold_count, 
                       partition_random_seed=42, verbose=False)
        max_mean_auc = np.max(scores['test-AUC-mean'])
        print({'loss': max_mean_auc})
        return {'loss': -max_mean_auc, 'status': hyperopt.STATUS_OK}
    
def find_best_hyper_params(dataset, const_params, max_evals=100):    
    parameter_space = {
        'learning_rate': hyperopt.hp.uniform('learning_rate', 0.2, 1.0),
        'depth': hyperopt.hp.randint('depth', 7),
        'l2_leaf_reg': hyperopt.hp.uniform('l2_leaf_reg', 1, 10)
    }
    objective = UciAdultClassifierObjective(dataset=dataset, const_params=const_params, fold_count=6)
    trials = hyperopt.Trials()
    best = hyperopt.fmin(objective, parameter_space, hyperopt.rand.suggest, max_evals,
                         rstate=np.random.RandomState(seed=42))
    return best

def train_best_model(dataset, const_params, max_evals=100, best=None):
    if best is None:
        best = find_best_hyper_params(dataset, const_params, max_evals=max_evals)
    hyper_params = best.copy()
    hyper_params.update(const_params)
    hyper_params.pop('use_best_model', None)
    model = cb.CatBoostClassifier(**hyper_params)
    model.fit(dataset, verbose=False)
    return model, hyper_params

hyperopt_iterations = 30

const_params = dict({
    'task_type': 'CPU',
    'loss_function': 'Logloss',
    'eval_metric': 'AUC', 
    'custom_metric': ['AUC'],
    'iterations': 100,
    'random_seed': 20181224
})

cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cont_names = ['age', 'fnlwgt', 'education-num']
ds_train = cb.Pool(pd.concat([df_train[cat_names].fillna('NULL'), df_train[cont_names]], axis=1), 
                   label=df_train[target], cat_features=range(len(cat_names)))

best = {'learning_rate': 0.42, 'depth': 5, 'l2_leaf_reg': 9.46}
model, params = train_best_model(ds_train, const_params, hyperopt_iterations, best)

ds_test = cb.Pool(pd.concat([df_test[cat_names].fillna('NULL'), df_test[cont_names]], axis=1), 
                  label=df_test[target], cat_features=range(len(cat_names)))
y_pred = model.predict_proba(ds_test)
df_test['cb_pred'] = y_pred[:, 1]
print(log_loss(df_test['y'], df_test['cb_pred']))

0.35135749444567244

In [6]:
print(log_loss(df_test['y'], df_test.eval('(cb_pred + fa_pred) / 2')))

0.34864793153478774

In [ ]:
%slq
test_sql = """
SELECT 1
FROM test
"""

In [8]:
%%sql
SELECT 1
FROM test

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])