In [110]:
from fastai.tabular import *
from sklearn.model_selection import train_test_split

In [111]:
path = untar_data(URLs.ADULT_SAMPLE)
print(path)
df = pd.read_csv(path/'adult.csv')
df['y'] = (df['salary'] == '>=50k').astype(int)
df_train, df_test = train_test_split(df.copy(), random_state=42)
print(len(df_train), len(df_test))
df_train.head()

/home/jupyter/.fastai/data/adult_sample
24420 8141

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,y
29,42,Private,70055,11th,7.0,Married-civ-spouse,NaN,Husband,White,Male,0,0,45,United-States,<50k,0
12181,25,Private,253267,Some-college,10.0,Married-civ-spouse,Adm-clerical,Husband,Black,Male,0,1902,36,United-States,>=50k,1
18114,53,Self-emp-not-inc,145419,1st-4th,2.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,67,Italy,>=50k,1
4278,37,State-gov,354929,Assoc-acdm,12.0,Divorced,Protective-serv,Not-in-family,Black,Male,0,0,38,United-States,<50k,0
12050,25,Private,404616,Masters,14.0,Married-civ-spouse,Farming-fishing,Not-in-family,White,Male,0,0,99,United-States,>=50k,1

In [179]:
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cont_names = ['age', 'fnlwgt', 'education-num']
procs = [FillMissing, Categorify, Normalize]
test = TabularList.from_df(df_test, path=path, cat_names=cat_names, cont_names=cont_names)
data = (TabularList.from_df(df_train, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
        .split_by_rand_pct(0.2)
        .label_from_df(cols='y')
        .add_test(test)
        .databunch())
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit(1, 1e-2)

y_pred, _ = learn.get_preds(DatasetType.Test)
df_test['fa_pred'] = y_pred[:, 1]
print(log_loss(df_test['y'], df_test['fa_pred']))
df_test.head()

0.35914435495452623

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,y,fa_pred
14160,30,Private,81282,HS-grad,9.0,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<50k,0,0.009811
27048,38,Federal-gov,172571,Some-college,10.0,Divorced,Adm-clerical,Not-in-family,White,Male,0,0,40,United-States,>=50k,1,0.123931
28868,40,Private,223548,HS-grad,9.0,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,Mexico,<50k,0,0.366151
5667,28,Local-gov,191177,Masters,14.0,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,20,United-States,>=50k,1,0.580095
7827,31,Private,210562,HS-grad,9.0,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,65,United-States,<50k,0,0.314180

In [177]:
y_pred, _ = learn.get_preds(DatasetType.Test)
df_test['fa_pred'] = y_pred[:, 1]
df_test.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,y,fa_pred
14160,30,Private,81282,HS-grad,9.0,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<50k,0,0.002287
27048,38,Federal-gov,172571,Some-college,10.0,Divorced,Adm-clerical,Not-in-family,White,Male,0,0,40,United-States,>=50k,1,0.076189
28868,40,Private,223548,HS-grad,9.0,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,Mexico,<50k,0,0.327465
5667,28,Local-gov,191177,Masters,14.0,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,20,United-States,>=50k,1,0.751505
7827,31,Private,210562,HS-grad,9.0,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,65,United-States,<50k,0,0.201713

In [178]:
log_loss(df_test['y'], df_test['fa_pred'])

0.36024400858910904

In [166]:
test.show_batch()

In [61]:
data.test_ds

LabelList (8141 items)
x: TabularList
workclass  Private; education  HS-grad; marital-status  Never-married; occupation  Other-service; relationship  Unmarried; race  White; education-num_na False; age -0.6226; fnlwgt -1.0365; education-num -0.4181; ,workclass  Federal-gov; education  Some-college; marital-status  Divorced; occupation  Adm-clerical; relationship  Not-in-family; race  White; education-num_na False; age -0.0368; fnlwgt -0.1645; education-num -0.0269; ,workclass  Private; education  HS-grad; marital-status  Married-civ-spouse; occupation  Adm-clerical; relationship  Husband; race  White; education-num_na False; age 0.1097; fnlwgt 0.3225; education-num -0.4181; ,workclass  Local-gov; education  Masters; marital-status  Married-civ-spouse; occupation  Prof-specialty; relationship  Wife; race  White; education-num_na False; age -0.7691; fnlwgt 0.0133; education-num 1.5375; ,workclass  Private; education  HS-grad; marital-status  Married-civ-spouse; occupation  Transport-moving; relationship  Husband; race  White; education-num_na False; age -0.5494; fnlwgt 0.1984; education-num -0.4181;
y: EmptyLabelList
,,,,
Path: /home/jupyter/.fastai/data/adult_sample